* {
    box-sizing: border-box;
  }

body {
    background-color: darkgray;
    color:darkblue;
    font-family: sans-serif;
}

main {
   
}

header {

}

header h1 {
    display: inline-block;
    font-size: 60px;
    position: relative;
    padding-top: 10px;

}

nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px
}

nav ul {
    display: inline-block;
    font-size: 30px;
    position: relative;
    margin-top: -40px;

}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
    height: 200px;
    padding: 40px 100px;
}

.aboutme h2 {
    font-size: 40px;
    position:absolute;
    left: 7%
}

.aboutme img {
    position: relative;
    float: right;
    top: -33%; 
}

.aboutme p {
    position: relative;
    left: 16%;
    font-size: 20px;
}

.aboutme .vl1 {
    border-left: 4px solid darkblue;
    height: 200px;
    position: absolute;
    top: 420px;
    left: 18%;
    margin-left: -10px;
}

.work {
    height: 600px;
    padding: 100px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.work h2 {
    font-size: 40px;
    position:absolute;
    left: 11%
}

.work .vl2 {
    border-left: 4px solid darkblue;
    height: 600px;
    position: absolute;
    top: 680px;
    left: 18%;
    margin-left: -10px;
}

.contactme {
    height: 100px;
    padding: 100px;
    margin-top: 60px;
}

.contactme h3 {
    font-size: 40px;
    position:absolute;
}

footer .vl3 {
    border-left: 4px solid darkblue;
    height: 100px;
    position: absolute;
    top: 1340px;
    left: 18%;
    margin-left: -10px;
}

footer ul {
    display:flex;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    justify-content: space-evenly;
}