* {
    box-sizing: border-box;
  }

body {
    background-color: darkgray;
    color:darkblue;
    font-family: sans-serif;
}

main {
   
}

header {

}

header h1 {
    display: inline-block;
    font-size: 60px;
    position: relative;
    padding-top: 10px;

}

nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px
}

nav ul {
    display: inline-block;
    font-size: 30px;
    position: relative;
    margin-top: -40px;

}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
    height: 200px;
    padding: 10px;
}

.aboutme h2 {
    font-size: 40px
}

.aboutme .vl1 {
    border-left: 4px solid darkblue;
    height: 200px;
    position: absolute;
    top: 390px;
    left: 12%;
    margin-left: -10px;
}

.work {
    height: 300px;
    padding: 10px;
}

.work h2 {
    font-size: 40px
}

.work .vl2 {
    border-left: 4px solid darkblue;
    height: 300px;
    position: absolute;
    top: 450px;
    left: 12%;
    margin-left: -10px;
}

.contactme {
    height: 300px;
    padding: 10px;
}

.contactme h3 {
    font-size: 40px
}

footer .vl3 {
    border-left: 4px solid darkblue;
    height: 300px;
    position: absolute;
    top: 800px;
    left: 12%;
    margin-left: -10px;
}