* {
    box-sizing: border-box;
  }

body {
    background-color: darkgray;
    color:darkblue;
    font-family: sans-serif;
}

main {
   
}

header {

}

header h1 {
    display: inline-block;
    font-size: 60px;
    position: relative;
    padding-top: 10px;

}

nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px
}

nav ul {
    display: inline-block;
    font-size: 30px;
    position: relative;
    margin-top: -40px;

}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
    
}

.work {
    
}

.contactme {
    
}